html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

img {
  display: block;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
}

button {
  padding: 0;
  border: none;
  background: none;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #151618;
  font-size: 20px;
  line-height: 1.5;
}
/*Header*/
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  min-height: 140px;
}

.logo {
  margin-bottom: 35px;
}
.btn-menu {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 40px;
  height: 20px;
}

.btn-menu span {
  height: 2px;
  background-color: #000;
  width: 100%;
}

.menu__list {
  display: flex;
  align-items: center;
  gap: 0 65px;
  margin-left: 85px;
  font-size: 18px;
  font-weight: 400;
}

.user-actions {
  display: flex;
  align-items: center;
  gap: 0 20px;
}

.user-actions__item-search {
  margin-left: 80px;
}
/******************MAIN*******************/
/*Top*/
.top {
  background-image: url(../images/top-bg.jpg);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: cover;
}

.top__inner {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 500px;
  color: rgb(255, 255, 255);
  font-family: Cormorant;
  font-weight: 400;
}

.top__inner-title {
  font-size: 60px;
  line-height: 1;
  margin-bottom: 20px;
  max-width: 780px;
}

.top__inner-text {
  font-size: 24px;
  line-height: normal;
  margin-bottom: 48px;
  max-width: 560px;
}

.blockquote__text {
  text-align: center;
  color: rgb(21, 22, 24);
  font-family: Cormorant;
  font-style: italic;
  font-size: 40px;
  font-weight: 300;
  line-height: normal;
  text-align: center;
  max-width: 704px;
  margin: 150px auto;
}
/*Our-tea*/
.our__tea {
  padding-bottom: 150px;
}
.our__tea-title {
  color: rgb(21, 22, 24);
  font-family: Cormorant;
  font-size: 40px;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
}
.our__tea-list {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 60px;
}

.our__tea-item-inner {
  max-width: 208px;
}
.our__tea-img {
  width: 100%;
}
.our__tea-text {
  color: rgb(0, 0, 0);
  font-family: Cormorant;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
  margin-top: 10px;
}
/*Testimonials*/
.testimonials {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: rgb(247, 242, 234, 0.5);
}
.testimonials__title {
  color: rgb(21, 22, 24);
  font-family: Cormorant;
  font-size: 40px;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 60px;
}
.testimonials__list {
  display: flex;
  justify-content: center;
  gap: 25px;
}
.testimonials__item {
  max-width: 280px;
}
.testimonials__text {
  color: rgb(0, 0, 0);
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.3;
  margin-bottom: 10px;
}
.testimonials__author {
  color: rgb(0, 0, 0);
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
}
/*Our blog*/
.our__blog {
  padding-top: 150px;
  padding-bottom: 150px;
}
.container {
}
.our__blog-inner {
}
.our__blog-title {
  color: rgb(21, 22, 24);
  font-family: Cormorant;
  font-size: 40px;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 60px;
}
.our__blog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 55px 40px;
  margin-bottom: 60px;
}

.our__blog-item {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.our__blog-img {
  max-width: 270px;
}
.blog__inner-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 252px;
}
.blog__inner-text__title {
  color: rgb(0, 0, 0);
  font-family: Cormorant;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
}
.blog__inner-text__author {
  color: rgb(0, 0, 0);
  font-family: Open Sans;
  font-size: 13px;
  font-weight: 300;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: left;
}
.blog__inner-text__link {
  color: rgb(0, 0, 0);
  font-family: Open Sans;
  font-size: 13px;
  font-weight: 300;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: left;
  margin-top: auto;
}
.blog__inner-text__link span {
  width: 5px;
  height: 10px;
  color: rgb(15, 15, 15);
  margin-left: 8px;
}
.our__blog-btn {
  display: block;
  padding: 12px 41px;
  cursor: pointer;
  margin: 0 auto;
  box-sizing: border-box;
  border: 1px solid rgb(21, 22, 24);
  background: rgb(255, 255, 255);
}
.our__blog-btn__link {
  color: rgb(21, 22, 24);
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.3;
  letter-spacing: normal;
  text-align: left;
}
/*Newsletter*/
.newsletter {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: rgb(247, 242, 234);
}
.container {
}
.newsletter__title {
  color: rgb(21, 22, 24);
  font-size: 40px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  margin-bottom: 50px;
}
.newsletter__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}
.newsletter__wrapper {
  max-width: 580px;
}
.newsletter__wrapper-text__big {
  color: rgb(21, 22, 24);
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 300;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}
.newsletter__form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.newsletter__email-wrapper {
  display: flex;
  align-items: center;
  gap: 25px;
}
.newsletter__input-email {
  border: none;
  border-bottom: 1px solid rgb(184, 181, 139);
  padding: 15px 15px 3px 15px;
  background-color: inherit;
  width: 439px;
  color: rgb(184, 181, 139);
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 300;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}

.newsletter__input-email:focus {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
  outline: none;
  border-bottom: 1px solid rgb(184, 181, 139);
}
.newsletter__input-email::placeholder {
  color: rgb(184, 181, 139);
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 300;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}
.newsletter__checkbox-wrapper {
  display: flex;
  align-items: flex-start;
}
.newsletter__input__checkbox-label {
  display: block;
  color: rgb(21, 22, 24);
  font-family: Open Sans;
  font-size: 13px;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: left;
  margin-left: 4px;
}

.newsletter__btn {
  padding: 12px 41px;
  box-sizing: border-box;
  border: 1px solid rgb(21, 22, 24);
  background: rgba(252, 3, 3, 0);
  color: rgb(21, 22, 24);
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.35;
  cursor: pointer;
}
/*Mobile menu*/
.mobile__menu {
  display: none;
}
/*****************@media (max-width: 1199.98px) *******************/
@media (max-width: 1199.98px) {
  .our__blog-item {
    flex: 1 1 350px; /* або min-width: 350px; */
    max-width: 100%;
  }
}
/*****************@media (max-width: 999.98px) *******************/
@media (max-width: 999.98px) {
  /*Header*/
  .header__inner {
    min-height: auto;
  }
  .logo {
    margin-bottom: 0;
  }
  .menu {
    margin-right: auto;
  }
  .menu__list {
    gap: 0 60px;
    margin-left: 85px;
  }
  .user-actions__item-search {
    margin-left: 30px;
  }
  .blockquote__text {
    margin-top: 120px;
    margin-bottom: 135px;
  }
  /*Our-tea*/
  .our__tea {
    padding-bottom: 120px;
  }
  .our__tea-list {
    gap: 6px;
    margin-top: 30px;
  }
  /*Testimonials*/

  .testimonials__list .testimonials__item:last-child {
    display: none;
  }
  /*Our blog*/
  .our__blog {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .our__blog-list {
    gap: 65px 20px;
  }

  .our__blog-img {
    max-width: 230px;
  }
  /*Newsletter*/
  .newsletter {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .newsletter__title {
    margin-bottom: 60px;
    text-align: center;
  }
  .newsletter__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
  }
}

/*****************@media (max-width: 859.98px) *******************/
@media (max-width: 859.98px) {
  /*Header*/
  .logo {
    margin-left: auto;
    margin-right: auto;
  }
  .menu {
    order: -1;
    margin-right: 0;
  }
  .btn-menu {
    display: flex;
  }
  .menu__list {
    display: none;
  }
  /*Our-tea*/
  .our__tea-list {
    flex-wrap: wrap;
    gap: 6px;
    margin-top: 40px;
  }
  /*Testionials*/
  .testimonials__list {
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 60px 0;
  }

  /*Our blog*/

  .our__blog {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .our__blog-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
  }
  .our__blog-list .our__blog-item:nth-child(odd) {
    justify-content: flex-start;
    display: flex;
  }

  .our__blog-list .our__blog-item:nth-child(even) {
    justify-content: flex-end;
    display: flex;
  }

  .our__blog-img {
    max-width: 270px;
  }
  .blog__inner-text {
    max-width: 252px;
  }
  /***Mobile menu**/
  .mobile__menu {
    display: none;
    background-color: #fff;
    position: absolute;
    top: -100vh;
    left: 0;
    right: 0;
    width: 360px;
    margin: 0 auto;
    opacity: 0;
    pointer-events: none;
    transition: top 0.5s ease-in-out, opacity 0.5s ease-in-out;
    z-index: 1000;
    overflow-y: auto;
  }
  .mobile__menu.active {
    display: block;
    top: 0;
    opacity: 1;
    pointer-events: auto;
  }
  .mobile__btn-menu {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  .menu__list-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 60px 0;
  }
  .menu__link-mobile {
    color: rgb(0, 0, 0);
    font-family: Cormorant;
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
  }
  .mobile__menu-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    padding: 60px 0;
    position: relative;
  }
  .mobile__menu-about::before {
    content: "";
    position: absolute;
    top: 0;
    left: 30px;
    width: 300px;
    height: 2px;
    background-color: rgb(247, 242, 234);
  }
  .menu__mobile-link__about {
    color: rgb(0, 0, 0);
    font-family: Open Sans;
    font-size: 13px;
    font-weight: 300;
    line-height: 18px;
  }
  .mobile__user-actions {
    display: flex;
    justify-content: center;
    gap: 70px;
    background-color: rgb(247, 242, 234);
    padding-top: 20px;
    padding-bottom: 18px;
  }
  /*Testimonials*/
  .testimonials__list .testimonials__item:last-child {
    display: block;
  }
}
/*****************@media (max-width: 767.98px) *******************/
@media (max-width: 767.98px) {
  /*Header*/
  .header__inner {
    padding-left: 64px;
    padding-right: 64px;
  }

  .blockquote__text {
    max-width: 640px;
  }
  /*Our-tea*/
  .our__tea-list {
    margin-top: 40px;
  }
}
/*****************@media (max-width: 659.98px) *******************/
@media (max-width: 659.98px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
  /*Header*/
  .header__inner {
    padding-left: 0;
    padding-right: 0;
  }

  /*Top*/
  .top__inner-title {
    font-size: 40px;
    max-width: 450px;
  }
  .blockquote__text {
    font-size: 16px;
    max-width: 376px;
    margin-top: 60px;
    margin-bottom: 60px;
  }
  /*Testionials*/
  .testimonials__list {
    gap: 30px 20px;
  }
  .testimonials__item {
    max-width: 220px;
    width: 100%;
  }
  /*Newsletter*/
  .newsletter {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .newsletter__title {
    margin-bottom: 30px;
  }
  .newsletter__inner {
    gap: 30px;
  }
  .newsletter__wrapper {
    max-width: 100%;
  }
  .newsletter__input-email {
    min-width: 162px;
  }
  .newsletter__wrapper-text__big {
    font-size: 13px;
    line-height: 18px;
  }
  .newsletter__email-wrapper {
    gap: 20px;
  }
}
/*****************@media (max-width: 479.98px) *******************/
@media (max-width: 479.98px) {
  /*Header*/
  .logo {
    margin-right: 80px;
  }
  .logo-img {
    width: 40px;
  }
  /*Our-tea*/
  .our__tea {
    padding-bottom: 60px;
  }
  .our__tea-list {
    margin-top: 30px;
  }
  .our__tea-item-inner {
    max-width: 160px;
  }
  .our__tea-title {
    font-size: 36px;
  }
  /*Testionials*/
  .testimonials {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .testimonials__title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .testimonials__list .testimonials__item:nth-last-child(-n + 2) {
    display: none;
  }

  .testimonials__item {
    min-width: 100%;
  }
  /*Our blog*/
  .our__blog {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .our__blog-list .our__blog-item:nth-child(odd) {
    justify-content: center;
    display: flex;
  }

  .our__blog-list .our__blog-item:nth-child(even) {
    justify-content: center;
    display: flex;
  }
  .our__blog-img {
    max-width: 230px;
  }
  .blog__inner-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 210px;
  }
  /*Newsletter*/
  .newsletter__title {
    color: rgb(21, 22, 24);
    font-size: 24px;
  }
}
/*****************@media (max-width: 399.98px) *******************/
@media (max-width: 399.98px) {
  /*Our blog*/
  .our__blog-title {
    font-size: 24px;
    margin-bottom: 30px;
  }
  .our__blog-list {
    row-gap: 30px;
    justify-content: center;
    margin-bottom: 30px;
  }

  .our__blog-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 270px;
  }
  .our__blog-list .our__blog-item:nth-child(3),
  .our__blog-list .our__blog-item:nth-child(4) {
    display: none;
  }

  .our__blog-img {
    max-width: 270px;
  }
  .blog__inner-text {
    max-width: 100%;
  }
}
/*****************@media (max-width: 359.98px) *******************/
@media (max-width: 359.98px) {
  /*Header*/
  .logo {
    margin-right: 50px;
  }
  .header__inner {
    padding: 10px 0;
  }
  .user-actions__item-search {
    margin-left: 0;
  }
  /*Top*/
  .top__inner {
    min-height: 367px;
  }
  .top__inner-title {
    font-size: 24px;
    max-width: 340px;
    margin-bottom: 10px;
    line-height: normal;
  }
  .top__inner-text {
    font-size: 13px;
    max-width: 332px;
    margin-bottom: 30px;
  }
  .blockquote__text {
    max-width: 340px;
    margin-top: 70px;
    margin-bottom: 80px;
  }
  /*Our-tea*/
  .our__tea {
    padding-bottom: 80px;
  }
  .our__tea-title {
    font-size: 24px;
  }

  .our__tea-item-inner {
    max-width: 150px;
  }
  .our__tea-list {
    margin-top: 15px;
  }
}
